# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# MLflow
mlruns/
mlruns.db

# Jupyter / Dashboard temp files
.ipynb_checkpoints

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS Junk
.DS_Store
Thumbs.db
